#logo{
    margin-top:30px;
    margin-bottom: 30px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.searchBox{
    border:none;
    width: 100%;
    margin:5px 20px;    
}
.searchBoxDiv {
    background: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
        border-top-color: rgb(223, 225, 229);
        border-right-color: rgb(223, 225, 229);
        border-bottom-color: rgb(223, 225, 229);
        border-left-color: rgb(223, 225, 229);
    box-shadow: none;
    border-radius: 24px;
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
}
input[type="submit"] {
     height: 36px;
    line-height: 27px;
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    -moz-border-radius: 2px;
    -moz-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 31px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}
input:focus {

    outline: none;

}
.searchBoxDiv:hover {

    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);

}
input[type="submit"]:hover{
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}